<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/jquery/jquery.validate.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>  
  
  
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
  <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
  <script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/actions.js"></script>
  <script src="/static/bootstrap/js/calendar.js"></script>
  <script src="/static/bootstrap/js/DateTimeShortcuts.js"></script>
  
  <script>$(function () 
      { $("[data-toggle='popover']").popover({html:true});
      });
  </script>
  
  
</head>

<body style="overflow-y: scroll;">

	<div class="navbar navbar-default navbar-static-top" role="navigation">
	<a class="navbar-brand" href="#">playcmdb</a>
	<div class="container">
		<div class="navbar-header">
			<ul class="navbar-right">
				<button type="button" class="btn btn-primary" title="个人信息" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<br>账号：{{ UserInfoObj.username }}</br><br>用户姓名：{{ UserInfoObj.realname }}</br><br>用户类型：{{ UserInfoObj.type }}</br>">
		     		个人信息
		  		</button>
		  	</ul>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-right">
				<a href="/web/logout/" class="btn btn-primary btn-danger" role="button">退出</a>
			</ul>
		</div>

	</div>
	</div>

<div class="container-fluid" >
	<div class="row" >
		<div class="col-md-2">



                <div class="panel-group table-responsive" role="tablist">
                    <div class="panel panel-primary">
                        <!-- 利用data-target指定要折叠的分组列表 -->
                        <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                            <h4 class="panel-title">
                            
                            	<span class="glyphicon glyphicon-hdd left"></span>
                            	资产管理
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <!-- 利用data-target指定URL -->
                                <button class="menu-item-left" data-target="test2.html">
                                    <span class="glyphicon glyphicon-triangle-right"></span>资产信息
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button>
                                    <span class="glyphicon glyphicon-triangle-right"></span>虚拟化信息
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>机房信息
                                </button>
                              </li>
                              <li class="list-group-item">
                                    <a style="text-decoration: none;" href="/autodeploy/app_deploy_html/">自动化部署应用</a>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>分组项1-5
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div><!--panel end-->
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                            <h4 class="panel-title">
                            	<span class="glyphicon glyphicon-user left"></span>
								账号管理
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>分组项2-1
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>分组项2-2
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>分组项2-3
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>分组项2-4
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>  
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab" >
                            <h4 class="panel-title">
                            	<span class="glyphicon glyphicon-dashboard left"></span>
								仪表盘
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>仪表盘2-1
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>仪表盘2-2
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>仪表盘2-3
                                </button>
                              </li>
                              <li class="list-group-item">
                                <button class="menu-item-left">
                                    <span class="glyphicon glyphicon-triangle-right"></span>仪表盘2-4
                                </button>
                              </li>
                            </ul>
                        </div>
                    </div>  
                    
                </div>





		</div>
		<div class="col-md-10">
			<div>
			{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</div>





</body>


</html>
