{% extends "suit/base.html" %}

{% block content %}

<section class="content-header">
  <h1>
   	 机房信息
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Home</li>
    <li>资产管理</li>
    <li class="active">机房信息</li>
  </ol>
</section>


<section class="content">
  <div class="row">
	<div class="col-md-12">
	
         <div class="box">
            <div class="box-header">
            <a href="/assets/newdc" class="btn  btn-success" role="button" target="_blank"> 新增</a>
            </div>
            
	        <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
					<th></th>
					<th>机房名称</th>
					<th>机房地址</th>
					<th>机房联系电话</th>
					<th>操作</th>
                </tr>
				{% for i in DCObj %}
				<tr class="text-c">
					<td><!-- <input type="checkbox" value="{{ i.id }}" name="checkboxdel[]"> --></td>
					<td>{{ i.room_name }}</td>
					<td>{{ i.address }}</td>
					<td>{{ i.phone }}</td>
                    <td>
                   	<div>
                   	<a href="/assets/details_dc/{{ i.id }}" class="btn btn-primary btn-xs" role="button" target="_blank">详情</a>
                   	<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{{ i.id }}">删除</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">删除确认</h4>
					      </div>
					      <div class="modal-body">
					        删除名称为{{ i.room_name }}的机房信息？
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
						    <a href="/assets/del_dc/{{ i.id　}}" class="btn btn-primary">
							确认
					        </a>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- Modal end -->
					</div>
                   </td>
				</tr>
				{% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
	      <div class="text-center">
	      <ul class="am-pagination tpl-pagination am-pagination-centered">{{ PageInfo }}</ul>
	      </div>
	</div>
  </div>
</section>

</div>


{% if popover %}
<div id="myPopover" class="alert alert-warning">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	{% if popover.id %}
	<strong>成功！</strong>删除了主机{{ popover.id }}
	{% else %}
	<strong>抱歉！</strong>{{ popover.info }}
	{% endif %}
</div>
<script type="text/javascript">
$(document).ready(function(){ 
	setTimeout(function(){alert("{{ popover.info }}{{ popover.id }}");},10);  
}); 
</script>  
{% endif %}


{% endblock %}