{% extends "suit/base.html" %}

{% block content %}

<section class="content-header">
  <h1>
   	编辑机房{{ DCObj.room_name }}
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Home</li>
    <li>资产管理</li>
    <li class="active">机房信息</li>
    <li>编辑机房{{ DCObj.room_name }}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
	<div class="col-md-12">
	<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">基本信息</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 100px;">
                  <div class="input-group-btn">
                    <a href="/assets/details_dc/{{ DCObj.id }}" class="btn  btn-success" role="button">返回</a>
                  </div>
                </div>
              </div>
    </div>
	<form role="form"  action='/assets/editdc/{{ DCObj.id }}/' method='POST'>{% csrf_token %}
  	<div class="box-body">
 		<div  class="row">
    		<div class="col-md-4">
                  <div class="form-group">
                    <label>机房名称 <span>datacenter name</span></label>
                       <div>
						{{ form.room_name }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.room_name }}</small>
						{% endif %}
                     </div>
                   </div>
    		
                  <div class="form-group">
                    <label>地址 <span>address</span></label>
                       <div>
						{{ form.address }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.address }}</small>
						{% endif %}
                     </div>
                   </div>
    		
                  <div class="form-group">
                    <label>联系电话  <span>phone</span></label>
                       <div>
						{{ form.phone }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.phone }}</small>
						{% endif %}
                     </div>
                   </div>
			</div>
		</div>
	</div>
	
		       <div class="box-footer text-center">
		       		<input type='submit' value='提交' class="btn btn-primary" role="button"/>
		       		<label style="color:red;">{{ status }}</label>  
		       </div>
	</form>
	</div>
	</div>
  </div>
</section>

{% endblock %}