{% extends "suit/base.html" %}

{% block content %}

<section class="content-header">
  <h1>
   	 添加新虚拟化设备
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Home</li>
    <li>资产管理</li>
    <li class="active">虚拟化信息</li>
    <li> 添加新虚拟化设备</li>
  </ol>
</section>

<section class="content">
  <div class="row">
	<div class="col-md-12">
	<div class="box box-primary">
	<form role="form"  action='/assets/newvirtual/' method='POST'>{% csrf_token %}
    <div class="box-header with-border">
      <h3 class="box-title">基本信息</h3>
    </div>
	
  	<div class="box-body">
 		<div  class="row">
    		<div class="col-md-4">
    		
                  <div class="form-group">
                    <label>虚拟化设备名称 <span>vm name</span></label>
                       <div>
						{{ form.virtual_name }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.virtual_name }}</small>
						{% endif %}
                     </div>
                   </div>
    		
                  <div class="form-group">
                    <label>MAC地址 <span>mac</span></label>
                       <div>
						{{ form.mac }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.mac }}</small>
						{% endif %}
                     </div>
                   </div>
    		
    		
                  <div class="form-group">
                    <label>cpucore数量 <span>cpu core</span></label>
                       <div>
						{{ form.cpu_cores }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.cpu_cores }}</small>
						{% endif %}
                     </div>
                   </div>
    		</div>
    		
    		<div class="col-md-4">
    		
                  <div class="form-group">
                    <label>虚拟化类型 <span>vm type</span></label>
                       <div>
						{{ form.virtual_type }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.virtual_type }}</small>
						{% endif %}
                     </div>
                   </div>
    		
                  <div class="form-group">
                    <label>内存大小<span>memory</span></label>
                       <div>
						{{ form.memery_size }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.memery_size }}</small>
						{% endif %}
                     </div>
                   </div>
    		
                  <div class="form-group">
                    <label>物理cpu数量<span>physical core</span></label>
                       <div>
						{{ form.cpu_pyhsical }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.cpu_pyhsical }}</small>
						{% endif %}
                     </div>
                   </div>
    		
    		</div>
    		
    		<div class="col-md-4">
    		
                  <div class="form-group">
                    <label>系统位数 <span>machine type</span></label>
                       <div>
						{{ form.machine_type }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.machine_type }}</small>
						{% endif %}
                     </div>
                   </div>
    		
                  <div class="form-group">
                    <label>cpu型号 <span>cpu</span></label>
                       <div>
						{{ form.cpu }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.cpu }}</small>
						{% endif %}
                     </div>
                   </div>
    		
                  <div class="form-group">
                    <label>ip地址 <span>ip address</span></label>
                       <div>
						{{ form.ip }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.ip }}</small>
						{% endif %}
                     </div>
                   </div>
    		</div>
    		
    	</div>
    </div>
    
    <div class="box-header with-border">
      <h3 class="box-title">业务信息</h3>
    </div>
    
  	<div class="box-body">
 		<div  class="row">
    		<div class="col-md-4">
                  <div class="form-group">
                    <label>归属业务条线 <span>business</span></label>
                       <div>
						{{ form.business }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.business }}</small>
						{% endif %}
                     </div>
                   </div>
                   
                  <div class="form-group">
                    <label>宿主机 <span>host</span></label>
                       <div>
						{{ form.host }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.host }}</small>
						{% endif %}
                     </div>
                   </div>
    		</div>
    		
    		<div class="col-md-4">
                  <div class="form-group">
                    <label>部署的应用<span>application</span></label>
                       <div>
						{{ form.app }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.app }}</small>
						{% endif %}
                     </div>
                   </div>
    		</div>
    		
    		<div class="col-md-4">
                  <div class="form-group">
                    <label>使用状态<span>status</span></label>
                       <div>
						{{ form.status }}
						{% if form.errors %}
						<small  style="color:red;">{{ form.errors.status }}</small>
						{% endif %}
                     </div>
                   </div>
    		</div>
    	</div>
    </div>
		       <div class="box-footer text-center">
		       		<input type='submit' value='提交' class="btn btn-primary" role="button"/>
		       		<label style="color:red;">{{ status }}</label>  
		       </div>
	</form>
	</div>
	</div>
  </div>
</section>


{% endblock %}