{% extends "suit/base.html" %}

{% block content %}

<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
        	<div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>资产管理 <span class="c-gray en">&gt;</span>虚拟化信息<span class="c-gray en">&gt;</span>虚拟化设备{{ VirtualObj.id }}的详细信息</div>
        </div>
    </div>
</div>

<div class="row-content am-cf">

                <div class="row am-cf">
                
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                            	<a href="/assets/newvirtual" class="am-btn am-btn-default am-btn-success" role="button" target="_blank"><span class="am-icon-plus"></span> 新增</a>
                                            	<a href="/assets/editvm/{{ VirtualObj.id }}" class="am-btn am-btn-default am-btn-secondary" role="button"><span class="am-icon-save"></span> 修改</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                    <div class="am-u-sm-12 am-u-md-12  am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">基本信息</div>
                            </div>
                            <div class="widget-body-lg widget-body am-fr" >
							<ul class="am-list am-list-static">
							  <li><label class="am-u-sm-3 am-form-label">虚拟设备名称</label>{{ VirtualObj.virtual_name }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">虚拟设备类型</label>{{ VirtualObj.virtual_type }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">设备位数</label>{{ VirtualObj.machine_type }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">MAC地址</label>{{ VirtualObj.mac }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">CPU型号</label>{{ VirtualObj.cpu }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">CPU个数</label>{{ VirtualObj.cpu_pyhsical }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">内存</label>{{ VirtualObj.memery_size }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">IP地址</label>{{ VirtualObj.ip }}</li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">宿主机</label>{{ VirtualObj.host }}</li>
							</ul>
                            </div>
                        </div>
                       

                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">业务信息</div>
                            </div>
                            <div class="widget-body-md widget-body am-fr" >
							<ul class="am-list am-list-static">
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">业务条线</label>
							  {% if VirtualObj.business.all %}
							  {% for i in VirtualObj.business.all %}
							  {{ i }},
							  {% endfor %}
							  {% else %}
							  无
							  {% endif %}
							  </li>
							  <li><label for="user-email" class="am-u-sm-3 am-form-label">部署应用</label>
							  {% if VirtualObj.business.all %}
							  {% for i in VirtualObj.app.all %}
							  {{ i }},
							  {% endfor %}
							  {% else %}
							  无
							  {% endif %}
							  </li>
							</ul>
                            </div>
                        </div>


                    </div>
<!-- 
                    <div class="am-u-sm-12 am-u-md-12  am-u-lg-4">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">专用服务器负载</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body widget-body-md am-fr">

                                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                                <div class="am-progress">
                                    <div class="am-progress-bar" style="width: 15%"></div>
                                </div>
                                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                                <div class="am-progress">
                                    <div class="am-progress-bar  am-progress-bar-warning" style="width: 75%"></div>
                                </div>
                                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                                <div class="am-progress">
                                    <div class="am-progress-bar am-progress-bar-danger" style="width: 35%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

 -->
                </div>

</div>








{% endblock %}