{% extends "suit/base.html" %}

{% block content %}

<section class="content-header">
  <h1>
   	虚拟化设备{{ VirtualObj.id }}的详细信息
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Home</li>
    <li>资产管理</li>
    <li class="active">虚拟化信息</li>
    <li>虚拟化设备{{ VirtualObj.id }}的详细信息</li>
  </ol>
</section>

<section class="content">
  <div class="row">
	<div class="col-md-12">
	<div class="box box-primary ">
	<div class="box-header with-border">
			  <h3 class="box-title">基本&业务信息</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 100px;">
                  <div class="input-group-btn">
                    <a href="/assets/newvirtual" class="btn  btn-success" role="button" target="_blank"> 新增</a>
                    <a href="/assets/editvm/{{ VirtualObj.id }}" class="btn  btn-default" role="button">修改</a>
                  </div>
                </div>
              </div>
     </div>
     <div class="row">
              <div class="col-md-6">
              <div class="box-body">
              <dl>
                <dt>虚拟设备名称</dt>
                <dd>{{ VirtualObj.virtual_name }}</dd>
                <dt>虚拟设备类型</dt>
                <dd>{{ VirtualObj.virtual_type }}</dd>
                <dt>设备位数</dt>
                <dd>{{ VirtualObj.machine_type }}</dd>
                <dt>MAC地址</dt>
                <dd>{{ VirtualObj.mac }}</dd>
                <dt>CPU型号</dt>
                <dd>{{ VirtualObj.cpu }}</dd>
                <dt>CPU个数</dt>
                <dd>{{ VirtualObj.cpu_pyhsical }}</dd>
                <dt>内存</dt>
                <dd>{{ VirtualObj.memery_size }}</dd>
                <dt>IP地址</dt>
                <dd>{{ VirtualObj.ip }}</dd>
                <dt>宿主机</dt>
                <dd>{{ VirtualObj.host }}</dd>
              </dl>
              </div>
              </div>
              
              <div class="col-md-6">
              <div class="box-body">
              <dl>
                <dt>业务条线</dt>
                <dd>							  
                {% if VirtualObj.business.all %}
				{% for i in VirtualObj.business.all %}
				{{ i }},
				{% endfor %}
				{% else %}
				 无
				{% endif %}
				</dd>
                <dt>部署应用</dt>
                <dd>
			  	{% if VirtualObj.business.all %}
			 	{% for i in VirtualObj.app.all %}
				{{ i }},
				{% endfor %}
			  	{% else %}
			  	无
			  	{% endif %}
                </dd>
              </dl>
              </div>
              </div>
              
	 </div>
	</div>
	</div>
  </div>
</section>

{% endblock %}